<h3 class="my-5">Subindo</h3>
<img class="images mb-2" src="assets/resources/img/ocorridor.jpeg"/>
<p>
    Ele subiu com muito cuidado tentando fazer pouco barulho enquanto escutava um som estranho, ele tinha duas opções, ir para um corredor à direita onde uma sala emitia uma luz roxa, ou ir para o outro corredor na direção oposta com várias portas de supostos quartos ainda havendo uma grande porta do lado esquerdo deste corredor.
</p>

<div *ngIf="hasNoDecision(); else elseBlock">
    <hr>
    <a class="btn btn-primary  btn-lg btn-block" href="#" (click)="goLeft($event)" role="button">Ir para esquerda</a>
    <a class="btn btn-primary  btn-lg btn-block" href="#" (click)="goRight($event)" role="button">Ir para direita</a>
</div>
<ng-template #elseBlock>
    <div *ngIf="hasGoneLeft()">
        <p>
            Ele caminhou com cuidado enquanto verificava cada quarto vazio tomado por muita poeira e teias de
            aranhas.<br>
            Quando tentou ignorar a grande sala à esquerda para verificar os outros quartos, ele escutou…<br>
            - Entre, não seja tolo, estou ansioso para conhecer você - disse alguém com uma voz jocosa.<br>
            Alejandro atendeu o desafio com sua besta preparada e sua espada em punho.<br>
            - Olá, intrometido! Eu me chamo Alexis, um filho da noite. Quer fazer uma ou duas perguntas antes de morrer
            saciando minha fome? - desafiou o vampiro se levantando.<br>
        </p>
        <img class="images mb-2" src="assets/resources/img/dlib.jpeg"/>
        <app-fight-on-top></app-fight-on-top>
    </div>
    <div *ngIf="hasGoneRight()">
        <p>
         Abrindo a porta, Alejandro é completamente envolvido por uma luz roxa ofuscante, seu corpo é completamente sugado para dentro daquele lugar. Ele tem uma sensação estranha, seu estômago se contorce, ele se sente leve e perde a sensação de tocar o chão.
        </p>
        <app-strange-opening></app-strange-opening>
    </div>
</ng-template>