<h2 class="my-5">Entrando no castelo</h2>
<p>Ele entrou pela grande porta de madeira velha acessando um grande salão, onde uma pequena tocha indicava um possível
    caminho subindo, o local estava mal iluminado e fedia bastante, além de estar totalmente tomado por poeira nos
    poucos móveis que restavam, algumas teias de aranhas mostravam que eram as verdadeiras moradoras dali. Depois notou
    que havia outro local, uma tocha falhava, mas teimosamente indicava uma sala mais a direita, ele pensou um pouco e …
</p>
<div *ngIf="hasNoDecision(); else elseBlock">
  <hr>
  <a class="btn btn-primary  btn-lg btn-block" href="#" (click)="goNextRoom($event)" role="button">Ir para a sala</a>
  <a class="btn btn-primary  btn-lg btn-block" href="#" (click)="climbStairs($event)" role="button">Subir escada</a>
</div>
<ng-template #elseBlock>
  <app-entering-next-room *ngIf="hasGoneNextRoom()"></app-entering-next-room>
  <app-going-up *ngIf="hasClimbed()"></app-going-up>
</ng-template>